
.card {
    /* width: 18rem; */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* margin: 10px; */
    display: inline-block;
    background-color: #fff;
    width: calc(24% - 10px);
    /* 10px is the total margin for each card */
    /* margin: 5px; */
    height: 100%;
    padding: 7px  10px 7px 7px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;

}


.card-text {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: Glory;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #5e5e5e96;

}


.btn-primary {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 3px;
    width: 80%;
    /* transition: background-color 0.3s; */
}

.btn-primary:hover {
    background-color: #0056b3;
}

.mycart {
    position: relative;
    font-size: 2vw;
    width: 272px;
    height: 50px;
    top: 50px;
    left: 102px;
}

.mycart::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 6px;
    background-color: #007BFF;
    border-radius: 2px;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Cairo;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2%;
    background-color: white;
    box-sizing: border-box;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;

}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn-primary {
    width: 220px;
    height: 50px;
    top: 940px;
    left: 426px;
    border-radius: 0px, 0px, 0px, 6px;
    border: none;
}

.button-container {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.button-container button {
    margin-right: 10px;


}

i {
    background-color: #ffffff;
    margin-left: 110%;
    margin-top: -72%;
    /* width: 20px; */
    padding: 10px 11px 10px 11px;
    width: 10px;
    height: 10px;
    /* top: 950px; */
    /* left: 662px; */
    /* padding: 3.75px, 1.25px, 3.75px, 1.25px; */
    border: 1px solid #007bff;
    color: #007BFF;

    /* justify-content: center; */

}

/* .fas{
    display: flex;
   margin-left: 120%;
   margin-top: -10%;
   color: #000;
} */